.Button {
    cursor: pointer;
    
    display: inline-block;
    background: #ffffff;
    color: #212E48 !important;

    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
    
    width: 165px;
    height: 52px;
    border-radius: 26px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: #212E48 !important;
        text-decoration: none;
        background: #F3F3F5;
    }

    &:active {
        opacity: 0.6;
    }
}