
.MessageInput {

    &__input {
        max-width: 100%;
        overflow-wrap: break-word;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
    
        margin: 32px 0;

        cursor: text;
    
        &:focus, &:active {
            outline: none;
        }
    
        &[placeholder]:empty::before {
            content: attr(placeholder);
            color: rgba(255,255,255, 0.35);
        }
        
        &[placeholder]:empty:focus::before {
            content: "";
        }


    }

    &__counter {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.01em;
        font-weight: normal;
    }
}