@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Manrope', sans-serif;
  background: #171C26;
  color: #FFFFFF;
}

a {
  color: #80A1FF;
  text-decoration: none;
}

a:hover {
  color: #fff !important;
}

a:visited {
  color: #80A1FF;
}

* {
  box-sizing: border-box;
}

.productHunt {
  margin-top: 40px;
  width: 250px;
  height: 54px;
}