.container {
  width: 100%;
  max-width: 480px;

  min-height: 100vh;
  padding: 72px 32px;

  margin: auto;
}

.copy {
  cursor: pointer;
}

.productHunt {
  margin-top: 48px;
  width: 250px;
  height: 54px;
}